body {
	font-family: "Helvetica";
}

#overlay {
	z-index: 500;
	background: rgba(0,0,0,.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
}

#modal {
	display: none;
	z-index: 501;
	position: fixed;
	background: white;
	margin-left: 750px;
	margin-top: 150px;
	padding: 10px;
	text-align: center;
}